.button {
    border: none;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: inline;
}

.button-invisible {
    background-color: transparent;
    max-width: 200px;
}