.post-title {
    font-weight: 300;
    margin-block: 0;
}

.post-title a {
    font-weight: 600;
}

.post-item {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: white;
    padding: 16px;

    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 1;
}